{
    "extends": [
      "eslint-config-globex",
      "./node_modules/@eslint-config-globex/flowtype",
      "./node_modules/@eslint-config-globex/next",
      "./node_modules/@eslint-config-globex/react"
    ]
}
