{
    "extends": [
      "eslint-config-globex",
      "eslint-config-globex/rules/flowtype",
      "eslint-config-globex/rules/react"
    ],
    "rules": {
        "flowtype/no-unused-expressions": "off",
        "jsx-a11y/html-has-lang": "off",
        "lines-between-class-members": "off",
        "max-len": "off",
        "no-process-env": "off",
        "promise/no-native": "off",
        "react/prop-types": "off"
    }
}
