{
	"*.js": [
		"flow focus-check",
		"eslint-globex . --fix",
		"git add"
	],
	"*.css": [
		"stylelint-cumul8 --fix",
		"git add"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json",
		"git add"
	]
}
