{
	"*.js": [
		"flow focus-check",
		"eslint-globex . --fix"
	],
	"*.css": [
		"stylelint-globex --fix"
	],
	"package.json": [
		"prettier-package-json --use-tabs --write ./package.json"
	]
}
