.view {
	position: absolute;
	inset: 0;
	user-select: none;
	background: radial-gradient(#21213c, #000);
}

.logo {
	--glow: rgba(178, 189, 255, 0.3);
	--glow2: rgba(132, 150, 249, 0.1);
	position: absolute;
	inset: -60px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 140px;
	font-size: 42px;
	letter-spacing: 1px;
	text-shadow:
		0 0 5px var(--glow),
		0 0 10px var(--glow),
		0 0 20px var(--glow),
		0 0 40px var(--glow),
		0 0 70px var(--glow2),
		0 0 80px var(--glow2),
		0 0 100px var(--glow2),
		0 0 150px var(--glow2);
	pointer-events: none;
	user-select: none;
}

.logoEv {
	margin-right: 8px;
	font-weight: 200;
	text-transform: uppercase;
}

.logoHaus {
	font-weight: 400;
	text-transform: uppercase;
}

.icons {
	position: absolute;
	inset: 320px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.resume {
	position: absolute;
	inset: 200px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.orb {
	position: absolute;
	inset: -160px 0 0;
	width: 120px;
	height: 120px;
	margin: auto;
	transform: rotateX(60deg) rotateZ(-30deg);
	transform-style: preserve-3d;
	animation-name: orbZoom;
	animation-duration: 10000ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.orbInner {
	transform-style: preserve-3d;
	animation-name: orbRotate;
	animation-duration: 10000ms;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.orbCircle {
	position: absolute;
	box-sizing: border-box;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	box-shadow:
		0 0 60px currentColor,
		inset 0 0 60px currentColor;
	transform-style: preserve-3d;
}

/* biome-ignore lint/correctness/noUnknownPseudoElement: Fix me later */
.orbCircle::before,
/* biome-ignore lint/correctness/noUnknownPseudoElement: Fix me later */
	.orbCircle::after {
	position: absolute;
	inset: 0;
	box-sizing: border-box;
	display: block;
	width: 0;
	height: 0;
	margin: auto;
	content: '';
	border-radius: 100%;
	box-shadow: 0 0 60px 2px currentColor;
}

/* biome-ignore lint/correctness/noUnknownPseudoElement: Fix me later */
.orbCircle::before {
	transform: translateZ(-90px);
}
/* biome-ignore lint/correctness/noUnknownPseudoElement: Fix me later */
.orbCircle::after {
	transform: translateZ(90px);
}
.orbCircle:nth-child(1) {
	transform: rotateZ(72deg) rotateX(63.435deg);
}
.orbCircle:nth-child(2) {
	transform: rotateZ(144deg) rotateX(63.435deg);
}
.orbCircle:nth-child(3) {
	transform: rotateZ(216deg) rotateX(63.435deg);
}
.orbCircle:nth-child(4) {
	transform: rotateZ(288deg) rotateX(63.435deg);
}
.orbCircle:nth-child(5) {
	transform: rotateZ(360deg) rotateX(63.435deg);
}

@keyframes orbRotate {
	0% {
		transform: rotateX(0) rotateY(0) rotateZ(0);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}

@keyframes orbZoom {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(2);
	}
	80% {
		transform: scale(0.8);
	}
	90% {
		transform: scale(1.1);
	}
	95% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
