.main {
	position: relative;
	z-index: 1000;
	max-width: 320px;
	min-height: 16px;
	padding: 8px;
	font-size: 12px;
	color: var(--N100);
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
	user-select: none;
	background: rgba(0, 0, 0, 0.9);
	border-radius: 4px;
	box-shadow:
		rgba(67, 90, 111, 0) 0 0 1px,
		rgba(67, 90, 111, 0) 0 8px 10px -4px;
}

.arrow {
	position: absolute;
	width: 8px;
	height: 8px;
	background: rgba(0, 0, 0, 0.9);
	transform: rotate(45deg);
}
