/* stylelint-disable-next-line selector-max-type */
body {
	background: #222;
	color: #FFF;
	display: flex;
	flex-direction: column;
	font-family: Montserrat, sans-serif;
	height: 100%;
	letter-spacing: 0.5px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

/* Override for react-tippy styling */
.tippy-tooltip-content {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	color: #7D86BE;
	font-size: 11px;
	margin-top: 8px;
	padding: 4px 8px;
	text-transform: uppercase;
}
