:global body {
	background: #222;
	color: #FFF;
	display: flex;
	font-family: Montserrat, sans-serif;
	height: 100%;
	letter-spacing: 0.5px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
