.view {
	background: radial-gradient(#21213C, #000);
	bottom: 0;
	left: 0;
	perspective: 400;
	position: absolute;
	right: 0;
	top: 0;
	user-select: none;
}

.logo {
	--glow: rgba(178, 189, 255, 0.3);
	--glow2: rgba(132, 150, 249, 0.1);

	align-items: center;
	bottom: 0;
	display: flex;
	font-size: 42px;
	justify-content: center;
	left: 0;
	letter-spacing: 4px;
	padding-top: 140px;
	pointer-events: none;
	position: absolute;
	right: 0;
	text-shadow: 0 0 5px var(--glow),
				 0 0 10px var(--glow),
				 0 0 20px var(--glow),
				 0 0 40px var(--glow),
				 0 0 70px var(--glow2),
				 0 0 80px var(--glow2),
				 0 0 100px var(--glow2),
				 0 0 150px var(--glow2);
	top: 0;
	user-select: none;
}

.logoEv {
	font-weight: 200;
	margin-right: 8px;
}

.logoHaus {
	font-weight: 400;
}

.icons {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.orb {
	animation-iteration-count: infinite;
	animation-name: orbRotate;
	animation-timing-function: ease-in-out;
	bottom: 0;
	height: 120px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: -100px;
	transform: rotateX(60deg) rotateZ(-30deg);
	transform-style: preserve-3d;
	width: 120px;
}

.orbCircle {
	border-radius: 100%;
	box-shadow: 0 0 60px currentColor, inset 0 0 60px currentColor;
	box-sizing: border-box;
	height: 120px;
	position: absolute;
	transform-style: preserve-3d;
	width: 120px;
}

.orbCircle::before,
.orbCircle::after {
	border-radius: 100%;
	bottom: 0;
	box-shadow: 0 0 60px 2px currentColor;
	box-sizing: border-box;
	content: "";
	display: block;
	left: 0;
	height: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
}

.orbCircle::before { transform: translateZ(-90px) }
.orbCircle::after { transform: translateZ(90px) }
.orbCircle:nth-child(1) { transform: rotateZ(72deg) rotateX(63.435deg) }
.orbCircle:nth-child(2) { transform: rotateZ(144deg) rotateX(63.435deg) }
.orbCircle:nth-child(3) { transform: rotateZ(216deg) rotateX(63.435deg) }
.orbCircle:nth-child(4) { transform: rotateZ(288deg) rotateX(63.435deg) }
.orbCircle:nth-child(5) { transform: rotateZ(360deg) rotateX(63.435deg) }

@keyframes orbRotate {
	0% { transform: rotateX(0) rotateY(0) rotateZ(0) }
	100% { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) }
}

@keyframes orbZoom {
	0% { transform: scale(1) }
	50% { transform: translateY(40px) scale(2) }
	80% { transform: scale(0.8) }
	90% { transform: scale(1.1) }
	95% { transform: scale(0.9) }
	100% { transform: scale(1) }
}

.icons { margin-top: 260px }
