.main {
	display: block;
	width: 220px;
	padding: 8px;
	margin: auto;
	font-size: 14px;
	font-weight: 500;
	color: #7a83b8;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: -0.5px;
	text-decoration: none;
	pointer-events: all;
	cursor: pointer;
	outline: none;
	background: transparent;
	border: 2px solid #4d568e;
	transition:
		250ms ease border-color,
		250ms ease color;
}

.main:focus,
.main:hover {
	color: #fff;
	border: 2px solid #fff;
}
