.main {
	background: transparent;
	border: 2px solid #4D568E;
	color: #7A83B8;
	cursor: pointer;
	display: block;

	/* test */
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.5px;
	margin: auto;
	outline: none;
	padding: 8px;
	pointer-events: all;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: 250ms ease border-color, 250ms ease color;
	width: 220px;    
}

.main:focus,
.main:hover {
	border: 2px solid #FFF;
	color: #FFF
}
