name: Test & Deploy

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Test
      run: |
        yarn install --pure-lockfile
        yarn test
    - name: Deploy
      if: github.event_name == 'push' && github.ref == 'refs/heads/master'
      env:
        ROCKETRY_PW: ${{ secrets.ROCKETRY_PW }}
      run: |
        yarn deploy
    - name: Verify
      uses: wei/curl@master
      with:
        args: https://www.haus.gg
